.build/
build-uno/
__pycache__/
*.py[co]
.idea/
cmake-build-debug/

.dir-locals.el
.clang_complete
compile_commands.json

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
options.cmake

*.bin
*.a
target_elf
user_config.h

GPATH
GRTAGS
GTAGS

.idea
