[submodule "lcd/libraries/LiquidCrystal_I2C"]
	path = lcd/libraries/LiquidCrystal_I2C
	url = https://github.com/fdebrabander/Arduino-LiquidCrystal-I2C-library.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "ethernet/libraries/ethercard"]
	path = ethernet/libraries/ethercard
	url = https://github.com/jcw/ethercard.git
[submodule "Arduino-Makefile"]
	path = Arduino-Makefile
	url = https://github.com/sudar/Arduino-Makefile.git
[submodule "lib/Arduino-LiquidCrystal-I2C-library"]
	path = lib/Arduino-LiquidCrystal-I2C-library
	url = https://github.com/fdebrabander/Arduino-LiquidCrystal-I2C-library.git
[submodule "lib/LiquidCrystal_I2C"]
	path = lib/LiquidCrystal_I2C
	url = https://github.com/fdebrabander/Arduino-LiquidCrystal-I2C-library.git
